body {
    margin: 0;
    padding: 1em;
}

main {
    height: 100%;
}

#container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    padding: 5% 20%;
}

.child {
    width: 25%;
    aspect-ratio: 1 / 1;
}